body {
  font-size: 200%;
  padding: 5px;
}

h1{
  text-align: center;
  color: #BDB76B;
  text-shadow: 2px 2px #423f1f;
}

#price {
  border-radius: 50px;
  width: 100%;
  table-layout: fixed;
}

#price td, #price th {
  border: 1px solid #BDB76B;
  padding: 8px;
}

#price tr:nth-child(even){background-color: #aea27a;}

#price th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: Black;
  color: #BDB76B;
}

.invoice {
  background-color: #ffec8f;
  padding: 3px;
  border-top: 5px solid #856f00;
}

footer {
  padding: 3px;
  background-color: #ffec8f;
  border-bottom: 5px solid #856f00;
  clear: both;
}

h1 {
  text-align: center;
}

.receipt-title {
  text-align: center;
}

.booking-details {
  text-shadow: 1px 1px yellow;
}

.company-detail {
  display: block;
}

.company, .receipt-detail {
  font-weight: bold;
}

.sub-table {
  margin-left: auto;
  margin-right: 5px;
  /* text-align: right; */
  float: right;
  clear: both;
}

.sub-total td{
  padding: 4px;
}
