body {
  margin-left: 30%;
  margin-right: 30%;
}

h1{
  text-align: center;
  color: #BDB76B;
  text-shadow: 2px 2px #423f1f;
}

#price {
  border-radius: 50px;
  width: 100%;
  table-layout: fixed;
}

#price td, #price th {
  border: 1px solid #BDB76B;
  padding: 8px;
}

#price tr:nth-child(even){background-color: #aea27a;}

#price th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: Black;
  color: #BDB76B;
}

.bill-to {
  text-shadow: 1px 1px yellow;
  margin-bottom: 3%;
}

.invoice {
  background-color: #ffec8f;
  padding: 3px;
  border-top: 5px solid #856f00;
}

footer {
  padding: 3px;
  background-color: #ffec8f;
  border-bottom: 5px solid #856f00;
  clear: both;
}

h1 {
  text-align: center;
}

.receipt-title {
  text-align: center;
  font-weight: bolder;
  font-size: 210%;
}

.booking-details {
  text-shadow: 1px 1px yellow;
}

.company {
  font-weight: bold;
}

.company span{
  display: block;
}

.receipt-detail {
  font-weight: bold;
}

.receipt-detail span {
  display: block;
}

.sub-table {
  margin-left: auto;
  margin-right: 5px;
  float: right;
  clear: both;
  margin-bottom: 2%;
  margin-top: 1%;
  border: 5px solid #BDB76B;
  padding: 3%;
}

.sub-table div {
  text-align: right;
}

.ticket {
  font-size: 130%;
  padding: 3%;
  text-align: center;
  border: 2px solid #BDB76B;
  background-color:  #ffec8f;
  margin-top: 5%;
  text-shadow: 1px 1px yellow;
}

.logo {
  width: 20%;
}

.barcode {
  width: 50%;
}

@media print {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }

  .not-print {
    display: none !important;
  }

  footer {
      page-break-after: always;
  }

  section.ticket {
    page-break-inside: avoid;
  }
}
